@import "/styles/variables.scss";

.header {
  width: 100%;
  background-color: $header-footer-bg-color;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  height: $header-height;
  z-index: 100;
  .title {
    display: none;
  }
  .logo {
    position: relative;
    top: 2px;
  }
  .hamburger {
    display: none;
    position: relative;
    margin-left: auto;
  }  
}
@media screen and (max-width: 900px) {
  .header {
    .title {
      display: block;
      font-size: 18px;
      color: white;
      text-transform: uppercase;
      margin-left: 20px;
    }
    .hamburger {
      display: block;
    }
  }
  .hide-mobile {
    display: none;
  }
}
