@import "/styles/variables.scss";

.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.97);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  height: $header-height;
  z-index: 100;
  .navigation {
    margin-left: 15px;
    font-size: 15px;
    ul {
      li {
        color: #222;
        font-weight: 600;
        display: inline-block;
        a {
          padding: 0 15px;
          span {
            border-bottom: 2px solid transparent;
            transition: border 100ms ease-in-out;
            padding-bottom: 3px;
          }
        }
        &:hover,
        &.current-page {
          span {
            border-color: $primary;
          }
        }
      }
    }
  }
  .secondary-navigation {
    margin-left: auto;
    ul {
      li {
        display: inline;
      }
    }
  }
}
