@import "/styles/variables.scss";

.card {
  height: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #DDD;
  transition: all 250ms;
  .top {
    position: relative;
    flex-basis: 63%;
    flex-shrink: 0;
    overflow: hidden;
  }
  .bottom {
    padding: 14px;
    flex-basis: 37%;
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    h6 {
      font-weight: 700;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 1px;
      white-space: nowrap;
      color: #333;
    }
    p {
      color: #999;
      font-size: 14px;
      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price-row {
      margin-top: auto;
      h5 {
        font-weight: 800;
        color: #333;
      }
    }
  }
  img {
    transition: all 250ms;
  }
  &:hover {
    box-shadow: 0px 0px 5px 5px #DFDFDF;
    transform: scale(1.03);
    img {
      transform: scale(1.02);
    }
  }
}
