@import "/styles/variables.scss";

.footer {
  height: $footer-height;
  background-color: $warm-black;
  border-bottom: 2px solid #111;
  box-sizing: border-box;
  nav {
    height: 100%;
    ul {
      display: flex; 
      height: 100%;
      justify-content: center;
      gap: 40px;
      align-items: center;
      li {
        color: white;
        a {
          display: inline-block;
          position: relative;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}