.home {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;

  h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 20px;
  }

  h3 {
    color: white;
    font-size: 50px;
    margin-top: 20px;
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: 60px;
    }
    h3 {
      font-size: 30px;
    }
  }
}
