@import "/styles/variables.scss";

.home-page {
  section {
    padding: 120px 0;
    position: relative;
    .image-with-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 80px;
      .text {
        flex: 2;
      }
      .image {
        flex: 1;
        .circle {
          border-radius: 500px;
        }
      }
    }
    @media screen and (max-width: 1000px) {
      .image-with-header {
        flex-direction: column;
        gap: 60px;
        .image {
          max-width: 500px;
          order: 1;
        }
        .text {
          h3 {
            text-align: center;
          }
          order: 2;
          .external-link {
            text-align: center;
          }
        }
      }
      .logo-separator {
        display: none;
      }
    }
    .logo-separator {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -82px;
      z-index: 2;
    }
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 32px;
    }
  }
}

