.shop-page {
  ul {
    display: block;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 19%);
    grid-gap: 20px 1%;
    justify-content: space-around;
    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(auto-fill, 24%);
    }
    @media screen and (max-width: 750px) {
      grid-template-columns: repeat(auto-fill, 32.33%);
    }
    @media screen and (max-width: 550px) {
      grid-template-columns: repeat(auto-fill, 100%);
    }
  }
}
